<!DOCTYPE html>
<html>
  <head>
    <title>Text Summarization</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css" />
    <script>
      window.onload = function () {
        document.getElementById("input-text").value = "";
        document.getElementById("output-area").value = "";
      };
    </script>
  </head>
  <body>
    <div class="container">
      <div class="input-container">
        <p class="title">Input:</p>
        <form method="POST">
          <textarea
            class="input-text"
            name="input_text"
            rows="10"
            cols="50"
          ></textarea>
          <br />
          <p class="title-2">select number of sentences in summary:</p>
          <br />
          <select class="num-selection" name="num-selection">
            {% for num in range(1, 101) %}
            <option value="{{ num }}">{{ num }}</option>
            {% endfor %}
          </select>
          <br />
          <input class="submit-button" type="submit" value="summarize" />
        </form>
      </div>

      <div class="output-container">
        <p class="title">Summary:</p>
        <p class="output-area">{{ output_text }}</p>
      </div>
    </div>
  </body>
</html>
